body {
  font-family: "jost";
  background-color: #FAFBFF;
  margin: 0;
  padding: 10px;
}

h1 {
  color: #0018A4;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.filters {
  display: flex;
  margin: 20px 0;
}

.filters p {
  margin: 0;
  font-weight: bold;
}

.filters div {
  margin-right: 10px;
}

button {
  padding: 8px 16px;
  border-radius: 50px;
  outline: 0;
  border: 2px solid rgba(240, 223, 240, 0.178);
  color: #0018A4;
  font-size: 18px;
  font-weight: 500;
  margin: 0 5px 5px 0;
}

button:hover {
  border: 2px solid #0018A4
}

.sort.active {
  background: #FF6589;
  color: white;
  border: 2px solid #4a43460f;
}

.filter.active {
  background: #0018A4;
  color: white;
  border: 2px solid #4a43460f;
}

.filter {
  background: #CCFFE2;
}

.sort {
  background: #FFECEA;
}

.recipes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

a {
  text-decoration: none;
  color: initial;
}

.card {
  background: #Ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 288px;
  padding: 16px;
}

.card h2 {
  margin-bottom: 10px;
  font-size: 21px;
}

hr {
  border: 1px solid #FF6589
}

img {
  width: 288px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  font-size: 16px;
  margin: 8px 0;
}

.bold {
  font-weight: bold;
}

.ingredients ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

.ingredients ul li {
  font-size: 14px;
  margin: 5px 0;
}

p {
  font-size: 16px;
  font-family: "jost";
}